#!/usr/bin/env bash

set -euo pipefail

# Brewfileのhash値をコメントに含めることでBrewfileに変更があった時にこのスクリプトを実行する
# Brewfile: {{ include (joinPath .chezmoi.sourceDir "packages/Brewfile") | sha256sum }}

if ! command -v brew &> /dev/null; then
  echo "Installing Homebrew ..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

echo "Installing packages with Homebrew ..."
# GitHubのCIの時はBrewFileからのインストールを実行しない
{{ if or (eq .chezmoi.username "takahiro.futagawa" ) (eq .chezmoi.username "futabooo") }}
brew bundle --file={{ .chezmoi.sourceDir }}/packages/Brewfile
{{ end }}
