{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -euo pipefail

computerName=$(scutil --get ComputerName)
echo $computerName

if command -v brew &> /dev/null; then
  echo "Installing packages with Homebrew ..."
  if [[ "$computerName" == *"futabooo"* ]]; then
    brew bundle --file={{ .chezmoi.sourceDir }}/packages/Brewfile
  else
    brew install gh
  fi
fi

{{ end -}}