.DS_Store

.zsh/.zsh_history

.vim/bundle/*
.vim/.netrwhist
!.vim/bundle/neobundle.vim

# BetterTouchTool
BetterTouchTool/Logs
BetterTouchTool/bttdata2.oldVersionBackup*
BetterTouchTool/bettertouchtool.bttlicense

