shell = "zsh"

# default apply defer
apply = ["defer"]

[templates]
defer = "{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}"

# non-deferred plugins
[plugins.zsh-defer]
github = "romkatv/zsh-defer"
apply = ["source"]

[plugins.dotfiles-sync]
local = "~/.config/zsh"
use = ["*.zsh"]
apply = ["source"]

[plugins.gcloud]
inline = '''
[[ -f /opt/homebrew/share/google-cloud-sdk/path.zsh.inc ]] && source /opt/homebrew/share/google-cloud-sdk/path.zsh.inc
[[ -f /opt/homebrew/share/google-cloud-sdk/completion.zsh.inc ]] && source /opt/homebrew/share/google-cloud-sdk/completion.zsh.inc
'''

# deferred plugins
[plugins.zsh-completions]
github = "zsh-users/zsh-completions"

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"

[plugins.zsh-syntax-highlighting]
github = "zdharma-continuum/fast-syntax-highlighting"


[plugins.brew-completions]
local = "/opt/homebrew/share/zsh/site-functions"
apply = ["fpath"]

[plugins.user-completions]
local = "~/.config/zsh/Completion"
use = ["_gx"]
apply = ["fpath"]

# inline plugins
[plugins.starship]
inline = 'eval "$(starship init zsh)"'

[plugins.direnv]
inline = 'eval "$(direnv hook zsh)"'

# https://github.com/rossmacarthur/sheldon/issues/114#issuecomment-731586665
# this plugin must last line
[plugins.compinit]
inline = 'autoload -Uz compinit && zsh-defer compinit'
