{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -euo pipefail

echo {{ .chezmoi.sourceDir }}

echo "Installing packages ..."
curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh \
    | sudo bash -s -- --repo rossmacarthur/sheldon --to /usr/local/bin

curl -sS https://starship.rs/install.sh | sh -s -- --yes

{{ end -}}